**/*.log
**/*.md
**/.DS_Store
**/docker-compose.build.yaml
**/docker-compose.yaml
**/nodemon.json
**/.git
**/.dockerignore
**/Dockerfile
**/Dockerfile.*
**/*.dockerfile
**/node_modules
**/.eslintcache
**/.npm

/.osm-files
/osm-files
/tileserver-files

services/*/build
services/*/dist

googleServiceAccountKey.json