node_modules
.vscode/notes.txt
yarn-error.log
*.logs
.DS_Store
.env.local
.env.yaml
.eslintcache

.devbox/

.archive
/.osm-files
/osm-files
/tileserver-files

googleServiceAccountKey.json

services/*/build
services/*/dist


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# !.yarn/cache

codebase.md

/bin